.arrange .title{
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: -20px;
    padding-left: 15px;
    border-left: 5px solid #e38fa9;
    text-align: left;
    color: #111;
}

.arrange .default{
    font-size: 14px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #3f1c1c;
    .p-b-0{
        padding-bottom: 0!important;
    }
    .p-t-0{
        padding-top: 0!important;
    }
    .lightest{
        border-radius: 3px;
        padding: 10px 15px;
        border-width: 0;
        margin-bottom: 0;
        background-color: #f5f5f5;
        .row{
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            div{
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px!important;
                padding-bottom: 10px!important;
                &:not(:first-of-type):before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -2px;
                    width: 2px;
                    height: 100%;
                }
            }
            @media (min-width: 576px){
                
                div {
                    flex: 0 0 33.33333%;
                    max-width: 33.33333%;
                }
            }
        }
    }
    
}