.CommentList {
  padding: 0 1em;
  margin: 1em 0;
  text-align: left;
  & > ul > li {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }
  .nested {
    margin-left: 44px;
  }
  .floor {
    text-indent: 2px;
  }
  .inner {
    display: flex;
    justify-content: flex-start;
    padding: 16px 0;
    .circle {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5;
      list-style: none;
      font-feature-settings: "tnum", "tnum";
      position: relative;
      display: inline-block;
      overflow: hidden;
      color: #fff;
      white-space: nowrap;
      text-align: center;
      vertical-align: middle;
      background: #ccc;
      width: 32px;
      height: 32px;
      line-height: 32px;
      border-radius: 50%;
    }
    h2 {
      flex-shrink: 0;
      margin-right: 14px;
      cursor: pointer;
    }
    p {
      //   text-overflow: ellipsis;
      //   white-space: nowrap;
      margin-bottom: 6px;

      & > span {
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        padding-right: 20px;
        &:last-of-type {
          color: #ccc;
          white-space: nowrap;
          cursor: auto;
        }
      }
      &.content {
        overflow: hidden;
        text-align: justify;
      }
    }
    .btn {
      padding-right: 10px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 12px;
      cursor: pointer;
      transition: color 0.3s;
      user-select: none;
      &:hover {
        color: #595959;
      }
    }
    .del {
      color: #e38fa9;
      padding-right: 10px;
      font-size: 12px;
      cursor: pointer;
      transition: color 0.3s;
      user-select: none;
      margin-left: 40px;
    }
  }
}
.tips {
  cursor: pointer;
  margin-left: 44px;
  user-select: none;
  color: #999;
}
@keyframes waiting1 {
  100% {
    transform: rotate(1turn);
  }
}
.waiting {
  animation: waiting1 1s linear infinite;
  font-size: 22px;
}
